/* reset css */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Basic Styles */
html {
    font-family: Lucida Sans, Verdana, sans-serif;
}

body {
    width: 1920px;
    max-width: 100%;
    margin: 0 auto;
}

img {
    width: 100%;
}

p, ul {
    font-size: 16px;
    line-height: 1.5rem;
}

h1 {
    font-size: 30px;
    margin-top: 30px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 23px;
}
h1, h2 {
    margin-bottom: 20px;
}